@model WebSearchWithElasticsearch.Search.Skill

@using (Html.BeginForm("AddUpdate", "Search"))
{
    @Html.ValidationSummary(true)
    
    <fieldset class="form">
        <legend>Add a new document to the search engine</legend>
        <table width="500">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.Label("Id:")
                </td>
                <td>
                    @Html.EditorFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Name:")
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Description:")
                </td>
                <td>
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <input type="submit" value="Add Skill" style="width:200px" />
                </td>
                <td>
                </td>
            </tr>


        </table>
    </fieldset>

}

<fieldset class="form">
    <legend>Search for a document in the search engine</legend>
    <table width="500">
        <tr>
            <th></th>
        </tr>
        <tr>
            <td>
                <label for="autocomplete">Search: </label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="autocomplete" type="text" style="width:500px" />
            </td>
        </tr>
    </table>
</fieldset>


@section scripts
{
    <script type="text/javascript">
        var items;
        $(document).ready(function () {
            $("input#autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        // basePath is used for defining contecxt-path of the url.
                        url: "search",
                        dataType: "json",
                        // data to be sent to the server:
                        data: {
                            term: request.term,
                            // for passing extra parameter:
                            // param1 : "param1 Value",
                            // param2 : "param2 Value"
                        },

                        success: function (data, type) {
                            var itemArray = new Array();
                            for (i = 0; i < data.length; i++) {
                                itemArray[i] = data[i].Name + " " + data[i].Description;
                            }

                            console.log(itemArray);
                            //items = data;
                            response(itemArray);
                        },
                        //if the request fails,A error function to be called.
                        error: function (data, type) {
                            console.log(type);
                        }
                    });
                }
            });

        });

    </script>
}
